

body {
    background-color: lightblue;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
	font-size: 50px;
	text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
header {
    width: 100%;
    display: flex;
}