body {
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  background-color:#fcf4d4
}

.leaderboard {
  padding-top:25vh;
}

#level-title {
  margin-left: 0.1rem;
}
table {
  border-collapse: collapse;
  width: 60rem;
  margin-bottom: 20px;
  margin: 0 auto;
  border-radius: 5px;
  font-size:1.5rem;
  background-color: #ede3bb;
}
th, td {
  text-align: left;
  padding: 20px;
}
th {
  background-color:#dc2414;
  color: rgb(0, 0, 0);
}
.name-label {
  margin-right: 10px;
}
.score-form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}